# **APRENDIZAGEM NÃO SUPERVISIONADA: ASSOCIAÇÃO**

Desafio 6 - Fazer algoritmo ECLAT e Apriori para o Example2 da lib pyECLAT

# **ECLAT**

In [1]:
!pip install pyECLAT

Requirement already satisfied: pyECLAT in /home/lucas/anaconda3/lib/python3.12/site-packages (1.0.2)
Requirement already satisfied: pandas>=0.25.3 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (2.2.2)
Requirement already satisfied: numpy>=1.17.4 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (1.26.4)
Requirement already satisfied: tqdm>=4.41.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2023.3)
Requirement already satisfied: six>=1.5 in /home/lucas/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->pyECLAT) (1.16.0)

In [2]:
from pyECLAT import Example2

In [3]:
dados = Example2().get()

In [4]:
dados

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [5]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados, verbose=True)

100%|████████████████████████████████████████| 119/119 [00:00<00:00, 408.91it/s]
100%|██████████████████████████████████████| 119/119 [00:00<00:00, 10706.87it/s]
100%|███████████████████████████████████████| 119/119 [00:00<00:00, 3279.00it/s]

In [6]:
eclat.df_bin

,mint green tea,melons,pancakes,shampoo,fresh tuna,gluten free bar,babies food,parmesan cheese,mineral water,tomatoes,...,butter,water spray,rice,mashed potato,champagne,green beans,spaghetti,nonfat milk,protein bar,mayonnaise
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
eclat.uniq_

['cider',
 'gluten free bar',
 'red wine',
 'oil',
 'chocolate bread',
 'pepper',
 'napkins',
 'salmon',
 'turkey',
 'gums',
 'dessert wine',
 'parmesan cheese',
 'champagne',
 'low fat yogurt',
 'body spray',
 'yogurt cake',
 'white wine',
 'mayonnaise',
 'ground beef',
 'cake',
 'cookies',
 'pet food',
 'brownies',
 'ham',
 'protein bar',
 'hand protein bar',
 'antioxydant juice',
 'sandwich',
 'almonds',
 'shampoo',
 'herb & pepper',
 'tomato juice',
 'french fries',
 'sparkling water',
 'eggplant',
 'babies food',
 'tomato sauce',
 'salt',
 'green grapes',
 'flax seed',
 'fresh bread',
 'oatmeal',
 'blueberries',
 'water spray',
 'candy bars',
 'nonfat milk',
 'whole weat flour',
 'bug spray',
 'burgers',
 'grated cheese',
 'salad',
 'barbecue sauce',
 'mashed potato',
 nan,
 'tea',
 'carrots',
 'melons',
 'chocolate',
 'eggs',
 'green beans',
 'ketchup',
 'spinach',
 'shallot',
 'chutney',
 'muffins',
 'cottage cheese',
 'magazines',
 'milk',
 'honey',
 'corn',
 'tomatoes',
 'energy bar',
 'butter',
 'bramble',
 'energy drink',
 'asparagus',
 'cream',
 'light cream',
 'green tea',
 'mint',
 'clothes accessories',
 'extra dark chocolate',
 'mint green tea',
 'french wine',
 'vegetables mix',
 'burger sauce',
 'chili',
 'avocado',
 'escalope',
 'soda',
 'pasta',
 'frozen smoothie',
 'shrimp',
 'pickles',
 'strong cheese',
 'olive oil',
 'mineral water',
 'frozen vegetables',
 'black tea',
 'soup',
 'bacon',
 'whole wheat pasta',
 'cauliflower',
 'spaghetti',
 'toothpaste',
 'whole wheat rice',
 'strawberries',
 'pancakes',
 'fresh tuna',
 'rice',
 'meatballs',
 'light mayo',
 'hot dogs',
 'mushroom cream sauce',
 'chicken',
 'yams',
 'fromage blanc',
 'cereals',
 'cooking oil',
 'zucchini']

In [7]:
indices, suporte = eclat.fit(min_support=0.05, min_combination=2, max_combination=5)

Combination 2 by 2

253it [00:04, 61.45it/s]

Combination 3 by 3

1771it [00:30, 59.03it/s]

Combination 4 by 4

8855it [02:32, 58.02it/s]

Combination 5 by 5

33649it [11:06, 50.51it/s]

In [8]:
indices

{'mineral water & spaghetti': [18,
  22,
  26,
  29,
  41,
  56,
  78,
  91,
  105,
  109,
  125,
  134,
  140,
  141,
  143,
  157,
  202,
  227,
  258,
  261,
  268,
  294,
  299,
  307,
  318,
  374,
  412,
  422,
  453,
  456,
  461,
  483,
  503,
  528,
  550,
  553,
  574,
  582,
  600,
  615,
  616,
  655,
  661,
  675,
  679,
  688,
  717,
  729,
  767,
  770,
  784,
  795,
  800,
  808,
  871,
  878,
  881,
  919,
  1008,
  1024,
  1041,
  1058,
  1064,
  1067,
  1070,
  1079,
  1083,
  1084,
  1118,
  1213,
  1218,
  1223,
  1248,
  1279,
  1281,
  1289,
  1326,
  1330,
  1345,
  1360,
  1367,
  1384,
  1388,
  1400,
  1414,
  1420,
  1425,
  1474,
  1534,
  1539,
  1547,
  1588,
  1604,
  1605,
  1609,
  1612,
  1613,
  1631,
  1639,
  1656,
  1681,
  1695,
  1743,
  1750,
  1773,
  1790,
  1792,
  1804,
  1806,
  1815,
  1818,
  1848,
  1892,
  1902,
  1934,
  1978,
  1986,
  1992,
  2009,
  2022,
  2038,
  2046,
  2061,
  2064,
  2104,
  2113,
  2123,
  2144,
  2152,
  2172,
  2181,
  2197,
  2206,
  2246,
  2248,
  2255,
  2287,
  2289,
  2298,
  2308,
  2353,
  2356,
  2358,
  2395,
  2400,
  2403,
  2412,
  2429,
  2542,
  2551,
  2589,
  2592,
  2593,
  2601,
  2613,
  2617,
  2625,
  2632,
  2637,
  2643,
  2645,
  2667,
  2673,
  2676,
  2700,
  2711,
  2767,
  2773,
  2776,
  2782,
  2791,
  2805,
  2817,
  2819,
  2831,
  2851,
  2853,
  2869,
  2871,
  2888,
  2919,
  2930]}

In [9]:
suporte

{'mineral water & spaghetti': 0.06064645118293902}

# **APRIORI**

In [10]:
from pyECLAT import Example2
dados = Example2().get()
dados

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [11]:
dados.shape

(3001, 7)

In [12]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados)
dados2 = eclat.df_bin
dados2

,mint green tea,melons,pancakes,shampoo,fresh tuna,gluten free bar,babies food,parmesan cheese,mineral water,tomatoes,...,butter,water spray,rice,mashed potato,champagne,green beans,spaghetti,nonfat milk,protein bar,mayonnaise
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
from mlxtend.frequent_patterns import apriori, association_rules

In [26]:
# Gerando a associação
associacao = apriori(dados2, min_support=0.03, use_colnames=True)

/home/lucas/anaconda3/lib/python3.12/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [27]:
# Colocando em ordem dos mais frequentes
associacao.sort_values("support", ascending=False).head(15)

     support             itemsets
1   0.236921      (mineral water)
31  0.182939          (spaghetti)
28  0.177274               (eggs)
25  0.161613          (chocolate)
8   0.154282       (french fries)
3   0.126958               (milk)
12  0.113296          (green tea)
11  0.093635        (ground beef)
17  0.091969  (frozen vegetables)
19  0.085638            (burgers)
0   0.078640           (pancakes)
13  0.077308             (shrimp)
26  0.076974               (cake)
24  0.076974            (cookies)
9   0.070643           (escalope)

In [28]:
# Criando as regras de associação
regras = association_rules(associacao, metric="confidence")

In [29]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("lift", ascending=False)

In [30]:
resultado.head(30)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []