# **APRENDIZAGEM NÃO SUPERVISIONADA: ASSOCIAÇÃO**

# **ECLAT**

In [1]:
!pip install pyECLAT

Requirement already satisfied: pyECLAT in /home/lucas/anaconda3/lib/python3.12/site-packages (1.0.2)
Requirement already satisfied: pandas>=0.25.3 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (2.2.2)
Requirement already satisfied: numpy>=1.17.4 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (1.26.4)
Requirement already satisfied: tqdm>=4.41.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2023.3)
Requirement already satisfied: six>=1.5 in /home/lucas/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->pyECLAT) (1.16.0)

In [2]:
from pyECLAT import Example1

In [3]:
dados = Example1().get()

In [7]:
dados

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [8]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados, verbose=True)

100%|████████████████████████████████████████████| 7/7 [00:00<00:00, 556.21it/s]
100%|██████████████████████████████████████████| 7/7 [00:00<00:00, 54572.73it/s]
100%|███████████████████████████████████████████| 7/7 [00:00<00:00, 1185.60it/s]

In [9]:
eclat.df_bin

   coffe  bean  butter  milk  beer  bread  rice
0      0     0       1     1     1      1     0
1      1     0       1     0     0      1     0
2      1     0       1     0     0      1     0
3      1     0       1     1     0      1     0
4      0     0       0     0     1      0     0
5      0     0       1     0     0      0     0
6      0     0       0     0     0      1     0
7      0     1       0     0     0      0     0
8      0     1       0     0     0      0     1
9      0     0       0     0     0      0     1

In [10]:
eclat.uniq_

[nan, 'coffe', 'bean', 'butter', 'milk', 'beer', 'bread', 'rice']

In [11]:
indices, suporte = eclat.fit(min_support=0.2, min_combination=2, max_combination=4)

Combination 2 by 2

21it [00:00, 129.84it/s]

Combination 3 by 3

35it [00:00, 217.35it/s]

Combination 4 by 4

35it [00:00, 217.61it/s]

In [13]:
indices

{'coffe & butter': [1, 2, 3],
 'coffe & bread': [1, 2, 3],
 'butter & milk': [0, 3],
 'butter & bread': [0, 1, 2, 3],
 'milk & bread': [0, 3],
 'coffe & butter & bread': [1, 2, 3],
 'butter & milk & bread': [0, 3]}

In [14]:
suporte

{'coffe & butter': 0.3,
 'coffe & bread': 0.3,
 'butter & milk': 0.2,
 'butter & bread': 0.4,
 'milk & bread': 0.2,
 'coffe & butter & bread': 0.3,
 'butter & milk & bread': 0.2}

# **APRIORI**

In [15]:
from pyECLAT import Example1
dados = Example1().get()
dados

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [16]:
dados.shape

(10, 4)

In [17]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados)
dados2 = eclat.df_bin
dados2

   coffe  bean  butter  milk  beer  bread  rice
0      0     0       1     1     1      1     0
1      1     0       1     0     0      1     0
2      1     0       1     0     0      1     0
3      1     0       1     1     0      1     0
4      0     0       0     0     1      0     0
5      0     0       1     0     0      0     0
6      0     0       0     0     0      1     0
7      0     1       0     0     0      0     0
8      0     1       0     0     0      0     1
9      0     0       0     0     0      0     1

In [18]:
from mlxtend.frequent_patterns import apriori, association_rules

In [19]:
# Gerando a associação
associacao = apriori(dados2, min_support=0.05, use_colnames=True)

/home/lucas/anaconda3/lib/python3.12/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [20]:
# Colocando em ordem dos mais frequentes
associacao.sort_values("support", ascending=False).head(15)

    support                itemsets
2       0.5                (butter)
5       0.5                 (bread)
13      0.4         (butter, bread)
7       0.3         (butter, coffe)
18      0.3  (butter, bread, coffe)
9       0.3          (bread, coffe)
0       0.3                 (coffe)
6       0.2                  (rice)
4       0.2                  (beer)
11      0.2          (butter, milk)
1       0.2                  (bean)
15      0.2           (bread, milk)
21      0.2   (butter, bread, milk)
3       0.2                  (milk)
19      0.1    (bread, milk, coffe)

In [21]:
# Criando as regras de associação
regras = association_rules(associacao, metric="confidence")

In [26]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("lift", ascending=False)

In [27]:
resultado.head(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
27,"(bread, beer)","(butter, milk)",0.1,0.2,0.1,1.0,5.0,0.08,inf,0.888889
26,"(butter, beer)","(milk, bread)",0.1,0.2,0.1,1.0,5.0,0.08,inf,0.888889
23,"(butter, bread, beer)",(milk),0.1,0.2,0.1,1.0,5.0,0.08,inf,0.888889
11,"(butter, beer)",(milk),0.1,0.2,0.1,1.0,5.0,0.08,inf,0.888889
18,"(bread, beer)",(milk),0.1,0.2,0.1,1.0,5.0,0.08,inf,0.888889
28,"(milk, beer)","(butter, bread)",0.1,0.4,0.1,1.0,2.5,0.06,inf,0.666667
22,"(milk, coffe)","(butter, bread)",0.1,0.4,0.1,1.0,2.5,0.06,inf,0.666667
9,(coffe),"(butter, bread)",0.3,0.4,0.3,1.0,2.5,0.18,inf,0.857143
15,(milk),"(butter, bread)",0.2,0.4,0.2,1.0,2.5,0.12,inf,0.750000
16,"(butter, beer)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
25,"(milk, bread, beer)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
24,"(butter, milk, beer)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
21,"(milk, bread, coffe)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
20,"(butter, milk, coffe)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
19,"(milk, beer)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
17,"(bread, beer)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
0,(coffe),(butter),0.3,0.5,0.3,1.0,2.0,0.15,inf,0.714286
1,(coffe),(bread),0.3,0.5,0.3,1.0,2.0,0.15,inf,0.714286
13,"(butter, milk)",(bread),0.2,0.5,0.2,1.0,2.0,0.10,inf,0.625000
12,"(milk, beer)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
10,"(milk, coffe)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
8,"(bread, coffe)",(butter),0.3,0.5,0.3,1.0,2.0,0.15,inf,0.714286
7,"(butter, coffe)",(bread),0.3,0.5,0.3,1.0,2.0,0.15,inf,0.714286
6,"(milk, coffe)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
5,(milk),(bread),0.2,0.5,0.2,1.0,2.0,0.10,inf,0.625000
2,(milk),(butter),0.2,0.5,0.2,1.0,2.0,0.10,inf,0.625000
14,"(milk, bread)",(butter),0.2,0.5,0.2,1.0,2.0,0.10,inf,0.625000
4,(bread),(butter),0.5,0.5,0.4,0.8,1.6,0.15,2.5,0.750000
3,(butter),(bread),0.5,0.5,0.4,0.8,1.6,0.15,2.5,0.750000