# **APRENDIZAGEM NÃO SUPERVISIONADA: ASSOCIAÇÃO**

# **ECLAT**

In [1]:
!pip install pyECLAT

Requirement already satisfied: pyECLAT in /home/lucas/anaconda3/lib/python3.12/site-packages (1.0.2)
Requirement already satisfied: pandas>=0.25.3 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (2.2.2)
Requirement already satisfied: numpy>=1.17.4 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (1.26.4)
Requirement already satisfied: tqdm>=4.41.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2023.3)
Requirement already satisfied: six>=1.5 in /home/lucas/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->pyECLAT) (1.16.0)

In [1]:
from pyECLAT import Example2

In [2]:
dados = Example2().get()

In [3]:
dados

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [4]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados, verbose=True)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 119/119 [00:00<00:00, 382.61it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 119/119 [00:00<00:00, 11307.19it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 119/119 [00:00<00:00, 2738.46it/s]

In [6]:
eclat.df_bin

,rice,oatmeal,toothpaste,butter,pepper,tomato sauce,chocolate,bug spray,mayonnaise,blueberries,...,gluten free bar,ham,mint green tea,chutney,clothes accessories,carrots,tea,chili,water spray,frozen smoothie
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
eclat.uniq_

['rice',
 'oatmeal',
 'toothpaste',
 'butter',
 'pepper',
 'tomato sauce',
 'chocolate',
 'bug spray',
 'mayonnaise',
 'blueberries',
 'extra dark chocolate',
 'olive oil',
 'eggs',
 'cookies',
 'protein bar',
 'meatballs',
 'cider',
 'almonds',
 'corn',
 'fromage blanc',
 'energy drink',
 'tomatoes',
 'melons',
 'bramble',
 nan,
 'light mayo',
 'chocolate bread',
 'low fat yogurt',
 'tomato juice',
 'energy bar',
 'cereals',
 'zucchini',
 'black tea',
 'mineral water',
 'cream',
 'muffins',
 'sandwich',
 'red wine',
 'nonfat milk',
 'soda',
 'cottage cheese',
 'salad',
 'barbecue sauce',
 'mushroom cream sauce',
 'frozen vegetables',
 'fresh bread',
 'candy bars',
 'pancakes',
 'magazines',
 'avocado',
 'napkins',
 'french wine',
 'pickles',
 'honey',
 'eggplant',
 'milk',
 'pet food',
 'burgers',
 'champagne',
 'shallot',
 'french fries',
 'strawberries',
 'hand protein bar',
 'body spray',
 'whole wheat rice',
 'gums',
 'chicken',
 'antioxydant juice',
 'parmesan cheese',
 'ketchup',
 'hot dogs',
 'spinach',
 'asparagus',
 'herb & pepper',
 'vegetables mix',
 'light cream',
 'fresh tuna',
 'brownies',
 'mint',
 'mashed potato',
 'yogurt cake',
 'dessert wine',
 'turkey',
 'yams',
 'oil',
 'white wine',
 'ground beef',
 'soup',
 'whole weat flour',
 'whole wheat pasta',
 'green beans',
 'babies food',
 'grated cheese',
 'strong cheese',
 'pasta',
 'flax seed',
 'cauliflower',
 'escalope',
 'green tea',
 'cooking oil',
 'burger sauce',
 'salt',
 'sparkling water',
 'spaghetti',
 'bacon',
 'cake',
 'green grapes',
 'shampoo',
 'shrimp',
 'salmon',
 'gluten free bar',
 'ham',
 'mint green tea',
 'chutney',
 'clothes accessories',
 'carrots',
 'tea',
 'chili',
 'water spray',
 'frozen smoothie']

In [15]:
indices, suporte = eclat.fit(min_support=0.04, min_combination=2, max_combination=5)

Combination 2 by 2

351it [00:06, 52.49it/s]

Combination 3 by 3

2925it [00:56, 52.16it/s]

Combination 4 by 4

17550it [05:31, 52.99it/s]

Combination 5 by 5

80730it [26:47, 50.22it/s]

In [16]:
indices

{'chocolate & mineral water': [28,
  31,
  76,
  100,
  109,
  141,
  142,
  173,
  174,
  209,
  268,
  324,
  353,
  378,
  396,
  398,
  412,
  418,
  462,
  471,
  538,
  548,
  550,
  551,
  574,
  602,
  620,
  621,
  631,
  637,
  646,
  647,
  655,
  659,
  675,
  680,
  718,
  727,
  733,
  744,
  745,
  754,
  770,
  823,
  843,
  871,
  890,
  901,
  974,
  1016,
  1064,
  1067,
  1091,
  1093,
  1098,
  1107,
  1118,
  1130,
  1139,
  1152,
  1161,
  1174,
  1213,
  1218,
  1225,
  1242,
  1248,
  1276,
  1279,
  1330,
  1365,
  1377,
  1392,
  1413,
  1416,
  1453,
  1493,
  1494,
  1546,
  1550,
  1591,
  1626,
  1631,
  1639,
  1642,
  1656,
  1659,
  1695,
  1699,
  1714,
  1725,
  1730,
  1732,
  1771,
  1773,
  1784,
  1831,
  1875,
  1892,
  1903,
  1937,
  1978,
  1980,
  1983,
  1991,
  2003,
  2019,
  2067,
  2083,
  2123,
  2144,
  2155,
  2172,
  2186,
  2213,
  2246,
  2255,
  2282,
  2289,
  2292,
  2298,
  2356,
  2369,
  2395,
  2400,
  2427,
  2429,
  2589,
  2617,
  2628,
  2676,
  2766,
  2767,
  2792,
  2795,
  2798,
  2853,
  2865,
  2930,
  2932,
  2992,
  2993,
  2999],
 'eggs & mineral water': [12,
  28,
  31,
  51,
  83,
  105,
  110,
  118,
  140,
  143,
  150,
  236,
  261,
  268,
  294,
  299,
  320,
  324,
  374,
  435,
  446,
  456,
  472,
  477,
  504,
  510,
  517,
  522,
  525,
  529,
  542,
  574,
  613,
  630,
  634,
  640,
  656,
  661,
  666,
  673,
  711,
  717,
  724,
  744,
  759,
  768,
  780,
  838,
  864,
  973,
  975,
  995,
  1042,
  1056,
  1058,
  1066,
  1083,
  1093,
  1179,
  1213,
  1225,
  1227,
  1235,
  1248,
  1276,
  1279,
  1326,
  1330,
  1347,
  1360,
  1369,
  1378,
  1397,
  1400,
  1428,
  1442,
  1465,
  1474,
  1489,
  1513,
  1525,
  1561,
  1562,
  1584,
  1588,
  1590,
  1597,
  1607,
  1624,
  1627,
  1642,
  1725,
  1806,
  1813,
  1816,
  1818,
  1840,
  1848,
  1875,
  1877,
  1896,
  1983,
  1991,
  2007,
  2009,
  2018,
  2046,
  2061,
  2131,
  2178,
  2181,
  2190,
  2192,
  2195,
  2223,
  2261,
  2272,
  2279,
  2303,
  2320,
  2353,
  2356,
  2412,
  2462,
  2494,
  2495,
  2497,
  2513,
  2527,
  2591,
  2600,
  2603,
  2613,
  2628,
  2645,
  2688,
  2765,
  2808,
  2817,
  2831,
  2832,
  2865,
  2898,
  2999],
 'mineral water & milk': [4,
  26,
  107,
  118,
  125,
  140,
  141,
  146,
  150,
  157,
  173,
  378,
  396,
  412,
  414,
  422,
  437,
  446,
  456,
  503,
  522,
  573,
  583,
  621,
  634,
  647,
  666,
  669,
  676,
  680,
  688,
  729,
  744,
  745,
  759,
  784,
  788,
  795,
  800,
  808,
  859,
  878,
  995,
  1009,
  1031,
  1044,
  1058,
  1091,
  1098,
  1104,
  1145,
  1173,
  1235,
  1303,
  1314,
  1360,
  1373,
  1377,
  1414,
  1416,
  1425,
  1428,
  1453,
  1473,
  1474,
  1513,
  1540,
  1547,
  1584,
  1605,
  1610,
  1612,
  1632,
  1634,
  1640,
  1643,
  1681,
  1685,
  1695,
  1711,
  1750,
  1758,
  1766,
  1773,
  1806,
  1826,
  1831,
  1869,
  1903,
  1912,
  1968,
  1980,
  1983,
  1991,
  2010,
  2018,
  2022,
  2039,
  2064,
  2090,
  2104,
  2113,
  2123,
  2124,
  2145,
  2155,
  2178,
  2181,
  2206,
  2213,
  2226,
  2241,
  2246,
  2257,
  2289,
  2318,
  2325,
  2334,
  2358,
  2429,
  2497,
  2509,
  2513,
  2551,
  2613,
  2632,
  2643,
  2645,
  2664,
  2711,
  2766,
  2767,
  2795,
  2805,
  2831,
  2832,
  2851,
  2852,
  2853,
  2865,
  2866,
  2898,
  2910,
  2980,
  2981],
 'mineral water & spaghetti': [18,
  22,
  26,
  29,
  41,
  56,
  78,
  91,
  105,
  109,
  125,
  134,
  140,
  141,
  143,
  157,
  202,
  227,
  258,
  261,
  268,
  294,
  299,
  307,
  318,
  374,
  412,
  422,
  453,
  456,
  461,
  483,
  503,
  528,
  550,
  553,
  574,
  582,
  600,
  615,
  616,
  655,
  661,
  675,
  679,
  688,
  717,
  729,
  767,
  770,
  784,
  795,
  800,
  808,
  871,
  878,
  881,
  919,
  1008,
  1024,
  1041,
  1058,
  1064,
  1067,
  1070,
  1079,
  1083,
  1084,
  1118,
  1213,
  1218,
  1223,
  1248,
  1279,
  1281,
  1289,
  1326,
  1330,
  1345,
  1360,
  1367,
  1384,
  1388,
  1400,
  1414,
  1420,
  1425,
  1474,
  1534,
  1539,
  1547,
  1588,
  1604,
  1605,
  1609,
  1612,
  1613,
  1631,
  1639,
  1656,
  1681,
  1695,
  1743,
  1750,
  1773,
  1790,
  1792,
  1804,
  1806,
  1815,
  1818,
  1848,
  1892,
  1902,
  1934,
  1978,
  1986,
  1992,
  2009,
  2022,
  2038,
  2046,
  2061,
  2064,
  2104,
  2113,
  2123,
  2144,
  2152,
  2172,
  2181,
  2197,
  2206,
  2246,
  2248,
  2255,
  2287,
  2289,
  2298,
  2308,
  2353,
  2356,
  2358,
  2395,
  2400,
  2403,
  2412,
  2429,
  2542,
  2551,
  2589,
  2592,
  2593,
  2601,
  2613,
  2617,
  2625,
  2632,
  2637,
  2643,
  2645,
  2667,
  2673,
  2676,
  2700,
  2711,
  2767,
  2773,
  2776,
  2782,
  2791,
  2805,
  2817,
  2819,
  2831,
  2851,
  2853,
  2869,
  2871,
  2888,
  2919,
  2930]}

In [17]:
suporte

{'chocolate & mineral water': 0.04765078307230923,
 'eggs & mineral water': 0.04798400533155615,
 'mineral water & milk': 0.048317227590803064,
 'mineral water & spaghetti': 0.06064645118293902}

# **APRIORI**

In [18]:
from pyECLAT import Example2
dados = Example2().get()
dados

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [19]:
dados.shape

(3001, 7)

In [53]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados)
dados2 = eclat.df_bin
dados2

,rice,oatmeal,toothpaste,butter,pepper,tomato sauce,chocolate,bug spray,mayonnaise,blueberries,...,gluten free bar,ham,mint green tea,chutney,clothes accessories,carrots,tea,chili,water spray,frozen smoothie
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
!pip install mlxtend

/home/lucas/anaconda3/lib/python3.12/pty.py:95: DeprecationWarning: This process (pid=11537) is multi-threaded, use of forkpty() may lead to deadlocks in the child.
  pid, fd = os.forkpty()

Requirement already satisfied: mlxtend in /home/lucas/anaconda3/lib/python3.12/site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/lucas/anaconda3/lib/python3.12/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in /home/lucas/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [55]:
from mlxtend.frequent_patterns import apriori, association_rules

In [69]:
# Gerando a associação
associacao = apriori(dados2, min_support=0.04, use_colnames=True)

/home/lucas/anaconda3/lib/python3.12/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [70]:
# Colocando em ordem dos mais frequentes
associacao.sort_values("support", ascending=False).head(15)

     support             itemsets
6   0.236921      (mineral water)
23  0.182939          (spaghetti)
2   0.177274               (eggs)
0   0.161613          (chocolate)
12  0.154282       (french fries)
9   0.126958               (milk)
21  0.113296          (green tea)
17  0.093635        (ground beef)
7   0.091969  (frozen vegetables)
10  0.085638            (burgers)
8   0.078640           (pancakes)
25  0.077308             (shrimp)
24  0.076974               (cake)
3   0.076974            (cookies)
20  0.070643           (escalope)

In [66]:
# Criando as regras de associação
regras = association_rules(associacao, metric="confidence")

In [60]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("lift", ascending=False)

In [61]:
resultado.head(30)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []