# **APRENDIZAGEM NÃO SUPERVISIONADA: ASSOCIAÇÃO**

# **ECLAT**

In [1]:
!pip install pyECLAT

Requirement already satisfied: pyECLAT in /home/lucas/anaconda3/lib/python3.12/site-packages (1.0.2)
Requirement already satisfied: pandas>=0.25.3 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (2.2.2)
Requirement already satisfied: numpy>=1.17.4 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (1.26.4)
Requirement already satisfied: tqdm>=4.41.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pyECLAT) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.25.3->pyECLAT) (2023.3)
Requirement already satisfied: six>=1.5 in /home/lucas/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->pyECLAT) (1.16.0)

In [3]:
from pyECLAT import Example2

In [4]:
dados = Example2().get()

In [5]:
dados

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN
...,...,...,...,...,...,...,...
2996,green tea,NaN,NaN,NaN,NaN,NaN,NaN
2997,shrimp,cake,NaN,NaN,NaN,NaN,NaN
2998,ham,ground beef,mineral water,NaN,NaN,NaN,NaN
2999,burgers,frozen vegetables,whole wheat pasta,mineral water,chocolate,eggs,blueberries
3000,whole wheat pasta,eggs,cake,french fries,green tea,NaN,NaN

In [6]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados, verbose=True)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 119/119 [00:00<00:00, 412.39it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 119/119 [00:00<00:00, 10378.05it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 119/119 [00:00<00:00, 3378.98it/s]

In [8]:
eclat.df_bin

,shallot,flax seed,yams,eggs,chutney,fresh bread,cream,green beans,toothpaste,frozen smoothie,...,milk,cereals,pasta,spinach,fromage blanc,turkey,tomato sauce,tomatoes,napkins,avocado
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3000,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
eclat.uniq_

['shallot',
 'flax seed',
 'yams',
 'eggs',
 'chutney',
 'fresh bread',
 'cream',
 'green beans',
 'toothpaste',
 'frozen smoothie',
 'olive oil',
 'black tea',
 'cauliflower',
 'antioxydant juice',
 'tomato juice',
 'mushroom cream sauce',
 'whole weat flour',
 'vegetables mix',
 'bramble',
 'oatmeal',
 'ham',
 'mint',
 'meatballs',
 'champagne',
 'light mayo',
 'candy bars',
 'chili',
 'carrots',
 'white wine',
 'parmesan cheese',
 'cooking oil',
 'chocolate',
 'protein bar',
 'zucchini',
 'body spray',
 'low fat yogurt',
 'pet food',
 'whole wheat pasta',
 'bug spray',
 'gluten free bar',
 'salt',
 'dessert wine',
 'ketchup',
 'strong cheese',
 'green grapes',
 'whole wheat rice',
 'babies food',
 'eggplant',
 'light cream',
 'burgers',
 'spaghetti',
 'mashed potato',
 'salad',
 'yogurt cake',
 'soda',
 'almonds',
 'french wine',
 'nonfat milk',
 'sparkling water',
 'herb & pepper',
 'chocolate bread',
 'barbecue sauce',
 'cake',
 'corn',
 'butter',
 'oil',
 'cottage cheese',
 'pickles',
 'red wine',
 'grated cheese',
 'cookies',
 'shrimp',
 'tea',
 'burger sauce',
 'bacon',
 'ground beef',
 'salmon',
 'mint green tea',
 'mayonnaise',
 'muffins',
 'pancakes',
 'energy bar',
 'hot dogs',
 'magazines',
 'rice',
 'strawberries',
 'gums',
 'clothes accessories',
 'chicken',
 'mineral water',
 'cider',
 'sandwich',
 'blueberries',
 'brownies',
 'shampoo',
 'fresh tuna',
 'french fries',
 'water spray',
 'melons',
 'escalope',
 'hand protein bar',
 'pepper',
 'honey',
 'soup',
 'asparagus',
 'frozen vegetables',
 'energy drink',
 nan,
 'green tea',
 'extra dark chocolate',
 'milk',
 'cereals',
 'pasta',
 'spinach',
 'fromage blanc',
 'turkey',
 'tomato sauce',
 'tomatoes',
 'napkins',
 'avocado']

In [ ]:
indices, suporte = eclat.fit(min_support=0.07, min_combination=2, max_combination=10)

Combination 2 by 2

105it [00:01, 62.50it/s]

Combination 3 by 3

455it [00:07, 61.41it/s]

Combination 4 by 4

1365it [00:23, 58.95it/s]

Combination 5 by 5

3003it [00:51, 57.86it/s]

Combination 6 by 6

1629it [00:28, 56.49it/s]

In [26]:
indices

{}

In [18]:
suporte

{}

# **APRIORI**

In [13]:
from pyECLAT import Example1
dados = Example1().get()
dados

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [14]:
dados.shape

(10, 4)

In [15]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados)
dados2 = eclat.df_bin
dados2

   bread  rice  beer  bean  coffe  milk  butter
0      1     0     1     0      0     1       1
1      1     0     0     0      1     0       1
2      1     0     0     0      1     0       1
3      1     0     0     0      1     1       1
4      0     0     1     0      0     0       0
5      0     0     0     0      0     0       1
6      1     0     0     0      0     0       0
7      0     0     0     1      0     0       0
8      0     1     0     1      0     0       0
9      0     1     0     0      0     0       0

In [17]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in /home/lucas/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/lucas/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/lucas/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/lucas/anaconda3/lib/python3.12/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in /home/lucas/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 15.9 MB/s eta 0:00:0031m15.6 MB/s eta 0:00:01
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [18]:
from mlxtend.frequent_patterns import apriori, association_rules

In [19]:
# Gerando a associação
associacao = apriori(dados2, min_support=0.05, use_colnames=True)

/home/lucas/anaconda3/lib/python3.12/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [20]:
# Colocando em ordem dos mais frequentes
associacao.sort_values("support", ascending=False).head(15)

    support                     itemsets
0       0.5                      (bread)
6       0.5                     (butter)
10      0.4              (bread, butter)
15      0.3              (coffe, butter)
8       0.3               (bread, coffe)
20      0.3       (bread, coffe, butter)
4       0.3                      (coffe)
5       0.2                       (milk)
3       0.2                       (bean)
1       0.2                       (rice)
21      0.2        (butter, bread, milk)
2       0.2                       (beer)
16      0.2               (butter, milk)
9       0.2                (bread, milk)
24      0.1  (butter, bread, milk, beer)

In [21]:
# Criando as regras de associação
regras = association_rules(associacao, metric="confidence")

In [22]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("lift", ascending=False)

In [80]:
resultado.head(30)

              antecedents      consequents  ...  leverage  conviction
28          (beer, bread)   (milk, butter)  ...      0.08         inf
26         (beer, butter)    (milk, bread)  ...      0.08         inf
24  (beer, bread, butter)           (milk)  ...      0.08         inf
19         (beer, butter)           (milk)  ...      0.08         inf
12          (beer, bread)           (milk)  ...      0.08         inf
27           (beer, milk)  (bread, butter)  ...      0.06         inf
22          (coffe, milk)  (bread, butter)  ...      0.06         inf
9                 (coffe)  (bread, butter)  ...      0.18         inf
17                 (milk)  (bread, butter)  ...      0.12         inf
16          (milk, bread)         (butter)  ...      0.10         inf
25    (beer, milk, bread)         (butter)  ...      0.05         inf
23   (beer, milk, butter)          (bread)  ...      0.05         inf
21   (coffe, milk, bread)         (butter)  ...      0.05         inf
20  (coffe, milk, butter)          (bread)  ...      0.05         inf
18           (beer, milk)         (butter)  ...      0.05         inf
0                 (coffe)          (bread)  ...      0.15         inf
15         (milk, butter)          (bread)  ...      0.10         inf
1                 (coffe)         (butter)  ...      0.15         inf
13         (beer, butter)          (bread)  ...      0.05         inf
11           (beer, milk)          (bread)  ...      0.05         inf
10          (coffe, milk)         (butter)  ...      0.05         inf
8          (coffe, bread)         (butter)  ...      0.15         inf
7         (coffe, butter)          (bread)  ...      0.15         inf
6           (coffe, milk)          (bread)  ...      0.05         inf
5                  (milk)         (butter)  ...      0.10         inf
2                  (milk)          (bread)  ...      0.10         inf
14          (beer, bread)         (butter)  ...      0.05         inf
4                 (bread)         (butter)  ...      0.15         2.5
3                (butter)          (bread)  ...      0.15         2.5

[29 rows x 9 columns]