In [1]:
import pandas as pd

In [2]:
df_vendas = pd.read_csv("vendas.csv")

In [3]:
df_vendas.head()

,ID_compra,filial,cidade,tipo_cliente,genero,tipo_produto,preco_unitario,quantidade,imposto_5%,total,data,hora,forma_pagamento,avaliacao
0,750-67-8428,A,Santo André,Membro,Feminino,Saúde e Beleza,74.69,7,26.1415,548.9715,2024-01-05,13:08:00,Carteira Digital,9.1
1,226-31-3081,C,São Caetano,Normal,Feminino,Eletrônicos,15.28,5,3.8200,80.2200,2024-03-08,10:29:00,Dinheiro,9.6
2,631-41-3108,A,Santo André,Normal,Masculino,Casa,46.33,7,16.2155,340.5255,2024-03-03,13:23:00,Cartão de Crédito,7.4
3,123-19-1176,A,Santo André,Membro,Masculino,Saúde e Beleza,58.22,8,23.2880,489.0480,2024-01-27,20:33:00,Carteira Digital,8.4
4,373-73-7910,A,Santo André,Normal,Masculino,Esportes e Viagem,86.31,7,30.2085,634.3785,2024-02-08,10:37:00,Carteira Digital,5.3

In [4]:
df_vendas.head(10)

,ID_compra,filial,cidade,tipo_cliente,genero,tipo_produto,preco_unitario,quantidade,imposto_5%,total,data,hora,forma_pagamento,avaliacao
0,750-67-8428,A,Santo André,Membro,Feminino,Saúde e Beleza,74.69,7,26.1415,548.9715,2024-01-05,13:08:00,Carteira Digital,9.1
1,226-31-3081,C,São Caetano,Normal,Feminino,Eletrônicos,15.28,5,3.8200,80.2200,2024-03-08,10:29:00,Dinheiro,9.6
2,631-41-3108,A,Santo André,Normal,Masculino,Casa,46.33,7,16.2155,340.5255,2024-03-03,13:23:00,Cartão de Crédito,7.4
3,123-19-1176,A,Santo André,Membro,Masculino,Saúde e Beleza,58.22,8,23.2880,489.0480,2024-01-27,20:33:00,Carteira Digital,8.4
4,373-73-7910,A,Santo André,Normal,Masculino,Esportes e Viagem,86.31,7,30.2085,634.3785,2024-02-08,10:37:00,Carteira Digital,5.3
5,699-14-3026,C,São Caetano,Normal,Masculino,Eletrônicos,85.39,7,29.8865,627.6165,2024-03-25,18:30:00,Carteira Digital,4.1
6,355-53-5943,A,Santo André,Membro,Feminino,Eletrônicos,68.84,6,20.6520,433.6920,2024-02-25,14:36:00,Carteira Digital,5.8
7,315-22-5665,C,São Caetano,Normal,Feminino,Casa,73.56,10,36.7800,772.3800,2024-02-24,11:38:00,Carteira Digital,8.0
8,665-32-9167,A,Santo André,Membro,Feminino,Saúde e Beleza,36.26,2,3.6260,76.1460,2024-01-10,17:15:00,Cartão de Crédito,7.2
9,692-92-5582,B,São Bernardo do Campo,Membro,Feminino,Alimentos e Bebidas,54.84,3,8.2260,172.7460,2024-02-20,13:27:00,Cartão de Crédito,5.9

In [5]:
df_vendas.tail()

,ID_compra,filial,cidade,tipo_cliente,genero,tipo_produto,preco_unitario,quantidade,imposto_5%,total,data,hora,forma_pagamento,avaliacao
995,233-67-5758,C,São Caetano,Normal,Masculino,Saúde e Beleza,40.35,1,2.0175,42.3675,2024-01-29,13:46:00,Carteira Digital,6.2
996,303-96-2227,B,São Bernardo do Campo,Normal,Feminino,Casa,97.38,10,48.6900,1022.4900,2024-03-02,17:16:00,Carteira Digital,4.4
997,727-02-1313,A,Santo André,Membro,Masculino,Alimentos e Bebidas,31.84,1,1.5920,33.4320,2024-02-09,13:22:00,Dinheiro,7.7
998,347-56-2442,A,Santo André,Normal,Masculino,Casa,65.82,1,3.2910,69.1110,2024-02-22,15:33:00,Dinheiro,4.1
999,849-09-3807,A,Santo André,Membro,Feminino,Moda,88.34,7,30.9190,649.2990,2024-02-18,13:28:00,Dinheiro,6.6

In [6]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_compra        1000 non-null   object
 1   filial           1000 non-null   object
 2   cidade           1000 non-null   object
 3   tipo_cliente     1000 non-null   object
 4   genero           1000 non-null   object
 5   tipo_produto     1000 non-null   object
 6   preco_unitario   1000 non-null   float64
 7   quantidade       1000 non-null   int64
 8   imposto_5%       1000 non-null   float64
 9   total            1000 non-null   float64
 10  data             1000 non-null   object
 11  hora             1000 non-null   object
 12  forma_pagamento  1000 non-null   object
 13  avaliacao        1000 non-null   float64
dtypes: float64(4), int64(1), object(9)
memory usage: 109.5+ KB

In [7]:
df_vendas.duplicated().sum()

0

In [8]:
df_vendas.describe()

       preco_unitario   quantidade   imposto_5%        total   avaliacao
count     1000.000000  1000.000000  1000.000000  1000.000000  1000.00000
mean        55.672130     5.510000    15.379369   322.966749     6.97270
std         26.494628     2.923431    11.708825   245.885335     1.71858
min         10.080000     1.000000     0.508500    10.678500     4.00000
25%         32.875000     3.000000     5.924875   124.422375     5.50000
50%         55.230000     5.000000    12.088000   253.848000     7.00000
75%         77.935000     8.000000    22.445250   471.350250     8.50000
max         99.960000    10.000000    49.650000  1042.650000    10.00000

In [9]:
df_vendas.groupby("tipo_produto")["total"].sum()

tipo_produto
Alimentos e Bebidas    56144.8440
Casa                   53861.9130
Eletrônicos            54337.5315
Esportes e Viagem      55122.8265
Moda                   54305.8950
Saúde e Beleza         49193.7390
Name: total, dtype: float64